data/
data/raw/*.csv
README.md
data/processed/*.csv
docs/*
src/data/__pycache__/*
src/models/__pycache__/*
src/pipelines/__pycache__/*
src/visualization/__pycache__/*
modeling/*
deep_learning_modeling.ipynb
ml_modeling.ipynb
time_series_modeling.ipynb
sarima_forecast_results.csv
sarima_model.pkl
references.bib
flight_delay_analysis.tex